{% extends 'questionnaire.html' %}

{% block questions %}
<div class="container">
<h2>Quantitativer Fragebogen</h2>
        <form method="POST" action="/sus/1">
            {{ form.csrf_token }}
            
            <!--------question 1----->
            <div class="form-group question">
              <p class="questionText">Ich kann mir sehr gut vorstellen, das System regelmäßig zu nutzen.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q1 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q1 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>



            <!--------question 2----->
            <div class="form-group question">
              <p class="questionText">Ich empfinde das System als unnötig komplex.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q2 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q2 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>



            <!--------question 3----->
            <div class="form-group question">
              <p class="questionText">Ich empfinde das System als einfach zu nutzen.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q3 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q3 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>



            <!--------question 4----->
            <div class="form-group question">
              <p class="questionText">Ich denke, dass ich technischen Support brauchen würde, um das System zu nutzen.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q4 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q4 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

            <!--------question 5----->
            <div class="form-group question">
              <p class="questionText">Ich finde, dass die verschiedenen Funktionen des Systems gut integriert sind.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q5 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q5 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

            <!--------question 6----->
            <div class="form-group question">
              <p class="questionText">Ich finde, dass es im System zu viele Inkonsistenzen gibt.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q6 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q6 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

            <!--------question 7----->
            <div class="form-group question">
              <p class="questionText">Ich kann mir vorstellen, dass die meisten Leute das System schnell zu beherrschen lernen.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q7 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q7 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

            <!--------question 8----->
            <div class="form-group question">
              <p class="questionText">Ich empfinde die Bedienung als sehr umständlich.</p>
              <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                  <table class="qtable">
                      <tr>
                          {% for subfield in form.q8 %}
                              <td align="center"> {{subfield.label(class_="label")}}</td>      
                          {% endfor %}
                      </tr>
                      <tr>
                          {% for subfield in form.q8 %}
                              <td align="center"> {{subfield(class_="")}}</td>      
                          {% endfor %}
                      </tr>
                  </table> 
                </div>
                <div class="col">
                </div>
              </div>
            </div>

            <!--------question 9----->
            <div class="form-group question">
              <p class="questionText">Ich habe mich bei der Nutzung des Systems sehr sicher gefühlt.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q9 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q9 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

            <!--------question 10----->
            <div class="form-group question">
              <p class="questionText">Ich musste eine Menge Dinge lernen, bevor ich mit dem System arbeiten konnte.</p>
              <div class="row">
                  <div class="col">
                    </div>
                    <div class="col-5">
                      <table class="qtable">
                          <tr>
                              {% for subfield in form.q10 %}
                                  <td align="center"> {{subfield.label(class_="label")}}</td>      
                              {% endfor %}
                          </tr>
                          <tr>
                              {% for subfield in form.q10 %}
                                  <td align="center"> {{subfield(class_="")}}</td>      
                              {% endfor %}
                          </tr>
                      </table> 
                    </div>
                    <div class="col">
                    </div>
              </div>
            </div>

        <input class="btn btn-primary" type="submit" value="Gehe zur nächsten Seite">


        <a class="btn btn-danger" href="/cancel">Abbrechen</a>
        </form>
</div>
{% endblock %}