{% extends 'questionnaire.html' %}

{% block questions %}
<div class="container">

        <form method="POST" action="/sus/2">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
        <input type="submit" value="Go">

        <article class="card">
            <header>
              <h3>Forest</h3>
            </header>
            <footer>
              <button>Like</button>
            </footer>
          </article>
          
        <a href="/cancel">Cancel</a>

</div>
{% endblock %}