{% extends 'questionnaire.html' %}

{% block questions %}
<div class="container">
    <h2>Second round of Questions</h2>

        <form method="POST" action="/sus/2">
            {{ form.csrf_token }}
            <!--------question 1----->
            <div class="form-group question">
                <p class="questionText">I think that I would like to use this system frequently.</p>
            {{ form.name(class_="form-control") }}

              </div>
  
          <input class="btn btn-primary" type="submit" value="Gehe zur nächsten Seite">
  
  
          <a class="btn btn-danger" href="/cancel">Abbrechen</a>
          </form>

</div>
{% endblock %}